{% load static %}
<!DOCTYPE>
<html lang-'eng'>
<head>
    <link rel='stylesheet' href="{%  static  'css/style.css'  %}">
    <meta charset='utf-8'>
    <meta name='viewport' content="width=device-width, initial-scale=1.0">
    <title> ASO </title>
</head>
<body>
    <header id='main-header'>
        <div class='head-container'>
            <h1>ASO Service</h1>
        </div>
    </header>

    <nav class='main-nav'>
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'index' %}">Client Panel</a></li>
            <li><a href="{% url 'services' %}">Offer</a></li>
            <li><a href="{% url 'index' %}">Contact</a></li>
        </ul>
    </nav>

    <div class='main-container'>
            {% block content %}{% endblock %}
    </div>
</body>
</html>
