{% load static %}
<!DOCTYPE>
<html lang-'eng'>
<head>
    <link rel='stylesheet' href="{%  static  'css/style.css'  %}">
    <meta charset='utf-8'>
    <meta name='viewport' content="width=device-width, initial-scale=1.0">
    <title> ASO </title>
</head>
<body>
    <header id='main-header'>
        <div class='head-container'>
            <h1>Audi ASO</h1>
        </div>
    </header>

    <nav class='main-nav'>
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'index' %}">About</a></li>
            <li><a href="{% url 'services' %}">Offer</a></li>
            <div class='dropdown'>
                {% if request.user.is_authenticated %}
                    <button>Hello, {{ user.username }}</button>
                        <div class='profile'>
                            <ul id='nav-ul'>
                                <li><a href="{% url 'profile' pk=user.id %}">Profile</a></li>
                                <li><a href="{% url 'profile' pk=user.id %}">My events</a></li>
                                <li><a href="{% url 'logout' %}">Logout</a></li>
                            </ul>
                        </div>
                
                {% else %}
                <button> Profile </button>
                <div>
                    <ul id='nav-ul'>
                        <li><a href="{% url 'login' %}">Login</a></li>
                        <li><a href="{% url 'index' %}">Sign-in</a></li>
                    </ul>
                </div>
                {% endif %}
            </div>
        </ul>
    </nav>

    <div class='main-container'>
            {% block content %}{% endblock %}
    </div>
</body>
</html>
