/* Variables */
:root {
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

/* ---------------General--------------- */
* {
  box-sizing: border-box;
}

body {
  background: var(--primary);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  margin: 0;
}


/* ---------------Header--------------- */
#main-header {
  background-color: coral;
  color: var(--light);
}

.head-container {
  text-align: left;
  width: 75%;
  margin: auto;
  overflow: hidden;
}


/* ---------------Main container--------------- */
.main-container {
  align-items: center;
  width: 70%;
  margin: auto;
  padding: 0%;
  background-color: rgb(153, 153, 153);
}

div.index {
  text-align: center;
}


/* ---------------Navbar--------------- */
.dropdown {
  height: 10vh;
  background: rgb(56, 56, 56);
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.account {
  position: relative;
}

.account ul {
  position: absolute;
  background: white;
}


/* ---------------Services--------------- */
.services {
  background-color: lightgray;
  margin: auto;
  padding: 1%;
  height: auto;
  width: 98%;
  text-align: center;
  border: rgb(59, 59, 59) solid 2px;
  table-layout: fixed;
}

